
h2{
    font-style:inherit;
    color: #e8b44d;
    font-weight: lighter;
    
    
}
.st{
    color: whitesmoke;
}

.as{

    font-size: 13px;
}
.aa{

width: 300px;
position: relative;
text-align:center
}
#background-video{
    width: 100%;
    height: 100%;

}
